---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import blogPicture from "../assets/Blog-website.webp";
import shellPicture from "../assets/Simple-shell.webp";
import portfolioPicture from "../assets/Portfolio.webp";
import ProjectCard from "./ui/ProjectCard.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const url = {
  blog: `https://dmn-blog.vercel.app/${lang}/`,
  shell: "https://github.com/dariomnalerio/holbertonschool-simple_shell",
  portfolio: Astro.url as unknown as string, // TODO: update when deployed
};
---

<section>
  <h3>{t("projects.title")}</h3>

  <ProjectCard
    title={t("projects.1.title")}
    description={t("projects.1.description")}
    icons={["html", "css", "astro", "typescript", "tailwind"]}
    img={blogPicture}
    alt={t("projects.1.alt")}
    url={url.blog}
  />

  <ProjectCard
    title={t("projects.2.title")}
    description={t("projects.2.description")}
    icons={["html", "css", "astro", "typescript"]}
    img={portfolioPicture}
    alt={t("projects.2.alt")}
    url={url.portfolio}
    openNewPage={false}
  />

  <ProjectCard
    title={t("projects.3.title")}
    description={t("projects.3.description")}
    icons={["c"]}
    img={shellPicture}
    alt={t("projects.3.alt")}
    url={url.shell}
  />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  h3 {
    text-align: center;
  }
</style>
